@using RecipeProject.Areas.AdminPanel.ViewModels.Recipe
@model DetailRecipeVM

@{
    ViewData["Title"] = "Recipe Detail";
}

<h1 style="color:black">Recipe Detail</h1>
<hr />

<div>
    <dl class="row" style="color:black !important">
        <dt class="col-sm-3" style="color:black">Name</dt>
        <dd class="col-sm-9">@Model.Name</dd>

        <dt class="col-sm-3" style="color:black">Description</dt>
        <dd class="col-sm-9">@Model.Description</dd>

        <dt class="col-sm-3" style="color:black">Diet Type</dt>
        <dd class="col-sm-9">@Model.DietType</dd>

        <dt class="col-sm-3" style="color:black">Cuisine</dt>
        <dd class="col-sm-9">@Model.Cuisine</dd>

        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
            <dt class="col-sm-3" style="color:black">Image</dt>
            <dd class="col-sm-9">
                <img src="@Model.ImageUrl" alt="@Model.Name" style="max-width:300px;" />
            </dd>
        }
    </dl>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Ingredient</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ing in Model.Ingredients)
        {
            <tr>
                <td>@ing.IngredientName</td>
                <td>@ing.Quantity</td>
            </tr>
        }
    </tbody>
</table>

<a href="/AdminPanel/Recipe/Index" class="btn btn-light">Back to list</a>